<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="eHand-6-R">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.000243526773761262 0.000695194216249992 0.0705358834951544"
        rpy="0 0 0" />
      <mass
        value="0.244158133795926" />
      <inertia
        ixx="0.000220776874683651"
        ixy="4.19776582529785E-07"
        ixz="-8.795188461511E-07"
        iyy="0.000132796441652154"
        iyz="-4.52398384755314E-06"
        izz="0.000111002949818577" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_3">
    <inertial>
      <origin
        xyz="0.00320912202569113 0.00859399982586928 6.43582409587395E-15"
        rpy="0 0 0" />
      <mass
        value="0.0067921443639462" />
      <inertia
        ixx="2.77578360985886E-07"
        ixy="-3.42850219784687E-08"
        ixz="-2.06604693131393E-21"
        iyy="1.05853327062334E-07"
        iyz="6.41431002149651E-20"
        izz="2.26313771586283E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.529411764705882 0.549019607843137 0.549019607843137 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_3"
    type="fixed">
    <origin
      xyz="0.00066978 0.030446 0.14066"
      rpy="-1.6057 0 0" />
    <parent
      link="base_link" />
    <child
      link="link_3" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="link_3_1">
    <inertial>
      <origin
        xyz="0.000267570571819472 -0.00999492371154624 4.12031379119771E-08"
        rpy="0 0 0" />
      <mass
        value="0.0116916946585731" />
      <inertia
        ixx="1.46660946948587E-06"
        ixy="1.62204830329822E-07"
        ixz="4.83048208912357E-12"
        iyy="5.59434583474216E-07"
        iyz="1.51401131252491E-13"
        izz="1.40998842829647E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_3_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_3_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_3_1"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="link_3" />
    <child
      link="link_3_1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="3.14"
      effort="10.0"
      velocity="10.0" />
  </joint>
  <link
    name="link_3_2">
    <inertial>
      <origin
        xyz="-0.00166971262934947 -0.00828863142783587 1.74513257629461E-08"
        rpy="0 0 0" />
      <mass
        value="0.00863981041049669" />
      <inertia
        ixx="8.103233291548E-07"
        ixy="2.65982804192187E-08"
        ixz="2.13820957009872E-12"
        iyy="4.48952829599267E-07"
        iyz="3.02574960584929E-12"
        izz="7.00443417785463E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_3_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_3_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_3_2"
    type="revolute">
    <origin
      xyz="0.00047158 -0.027917 0"
      rpy="0 0 -0.00036835" />
    <parent
      link="link_3_1" />
    <child
      link="link_3_2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="3.14"
      effort="10.0"
      velocity="10.0" />
  </joint>
  <link
    name="link_3_3">
    <inertial>
      <origin
        xyz="-0.00261367294680075 -0.0135058048538154 -1.49004154449441E-05"
        rpy="0 0 0" />
      <mass
        value="0.013073909238579" />
      <inertia
        ixx="1.02139995278157E-06"
        ixy="2.13440193366664E-08"
        ixz="-1.92545215455559E-10"
        iyy="3.65771135000142E-07"
        iyz="1.0260329592364E-09"
        izz="9.87720677606761E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_3_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_3_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_3_3"
    type="revolute">
    <origin
      xyz="8.4356E-05 -0.021 0"
      rpy="0 0 0.0040167" />
    <parent
      link="link_3_2" />
    <child
      link="link_3_3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="3.14"
      effort="10.0"
      velocity="10.0" />
  </joint>
  <link
    name="link_1">
    <inertial>
      <origin
        xyz="-0.00409465312787687 -1.1850821907796E-05 1.95214264592722E-05"
        rpy="0 0 0" />
      <mass
        value="0.00988840232849892" />
      <inertia
        ixx="7.92431040493531E-07"
        ixy="-2.81872244799899E-10"
        ixz="4.64317862555068E-10"
        iyy="6.61461971953466E-07"
        iyz="-1.19897654065633E-08"
        izz="3.21612868197312E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.529411764705882 0.549019607843137 0.549019607843137 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_1"
    type="fixed">
    <origin
      xyz="0.011 0.023 0.06075"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link_1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="link_1_1">
    <inertial>
      <origin
        xyz="0.00382476136144754 0.00320935584773183 0.000830559651235005"
        rpy="0 0 0" />
      <mass
        value="0.00792467413801594" />
      <inertia
        ixx="3.39411127065142E-07"
        ixy="-1.128109113471E-07"
        ixz="-2.47981842278548E-08"
        iyy="3.79194341842746E-07"
        iyz="-2.08081472394597E-08"
        izz="4.01962876432243E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_1_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_1_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_1_1"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="link_1" />
    <child
      link="link_1_1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="3.14"
      effort="10.0"
      velocity="10.0" />
  </joint>
  <link
    name="link_2_1">
    <inertial>
      <origin
        xyz="0.0299779716562549 0.000643021055166497 2.23502455432012E-07"
        rpy="0 0 0" />
      <mass
        value="0.033845316181136" />
      <inertia
        ixx="3.49033471868421E-06"
        ixy="-6.93852711635597E-07"
        ixz="7.21941024020809E-11"
        iyy="1.27569017078695E-05"
        iyz="1.71612585246458E-11"
        izz="1.27292661310527E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_2_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_2_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_2_1"
    type="revolute">
    <origin
      xyz="0.0091925 0.0077135 0.0013301"
      rpy="1.5708 0.15644 0.69813" />
    <parent
      link="link_1_1" />
    <child
      link="link_2_1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="3.14"
      effort="10.0"
      velocity="10.0" />
  </joint>
  <link
    name="link_2_2">
    <inertial>
      <origin
        xyz="0.00671614320654118 -0.00395157831790253 -8.81505472609401E-09"
        rpy="0 0 0" />
      <mass
        value="0.0152642804613885" />
      <inertia
        ixx="1.32332794612983E-06"
        ixy="-2.39822775232852E-07"
        ixz="-5.01746426101196E-12"
        iyy="1.65567878125327E-06"
        iyz="-3.75087731610635E-12"
        izz="1.52543021058749E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_2_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_2_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_2_2"
    type="revolute">
    <origin
      xyz="0.062 0.008 0"
      rpy="0 0 0" />
    <parent
      link="link_2_1" />
    <child
      link="link_2_2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="3.14"
      effort="10.0"
      velocity="10.0" />
  </joint>
  <link
    name="link_2_3">
    <inertial>
      <origin
        xyz="0.0150743841634644 -0.00535444867406513 -5.46243020593286E-06"
        rpy="0 0 0" />
      <mass
        value="0.00953123990894983" />
      <inertia
        ixx="5.00685294889874E-07"
        ixy="7.08215468308547E-08"
        ixz="3.103377133078E-10"
        iyy="9.28739958452511E-07"
        iyz="-7.9844627102692E-11"
        izz="9.51289377169071E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_2_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_2_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_2_3"
    type="revolute">
    <origin
      xyz="0.019 0 0"
      rpy="0 0 0" />
    <parent
      link="link_2_2" />
    <child
      link="link_2_3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="3.14"
      effort="10.0"
      velocity="10.0" />
  </joint>
  <link
    name="link_4">
    <inertial>
      <origin
        xyz="0.00320912202501756 0.00859399982357097 5.42448030937948E-15"
        rpy="0 0 0" />
      <mass
        value="0.00679214436394153" />
      <inertia
        ixx="2.77578360985875E-07"
        ixy="-3.42850219784684E-08"
        ixz="2.04935530932709E-21"
        iyy="1.05853327062315E-07"
        iyz="5.57176827674954E-20"
        izz="2.26313771586277E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.529411764705882 0.549019607843137 0.549019607843137 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_4"
    type="fixed">
    <origin
      xyz="0.00066978 0.01012 0.14101"
      rpy="-1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="link_4" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="link_4_1">
    <inertial>
      <origin
        xyz="0.000267572107500621 -0.00999492347430254 4.02182229308073E-08"
        rpy="0 0 0" />
      <mass
        value="0.0116916932269171" />
      <inertia
        ixx="1.46660945469029E-06"
        ixy="1.62204824887701E-07"
        ixz="4.87094866108887E-12"
        iyy="5.59434454767507E-07"
        iyz="2.09428857944237E-13"
        izz="1.40998828536485E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_4_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_4_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_4_1"
    type="continuous">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="link_4" />
    <child
      link="link_4_1" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="link_4_2">
    <inertial>
      <origin
        xyz="-0.00166971094846635 -0.00828863171959598 1.78464862714278E-08"
        rpy="0 0 0" />
      <mass
        value="0.00863981064789362" />
      <inertia
        ixx="8.10323350660597E-07"
        ixy="2.65982701216309E-08"
        ixz="2.17743163537052E-12"
        iyy="4.48952841197444E-07"
        iyz="3.0444761478345E-12"
        izz="7.00443441425687E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_4_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_4_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_4_2"
    type="revolute">
    <origin
      xyz="0.00047158 -0.027917 0"
      rpy="0 0 -0.00036835" />
    <parent
      link="link_4_1" />
    <child
      link="link_4_2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="3.14"
      effort="10.0"
      velocity="10.0" />
  </joint>
  <link
    name="link_4_3">
    <inertial>
      <origin
        xyz="-0.00278067646307514 -0.0167277275594282 -3.00126262919587E-05"
        rpy="0 0 0" />
      <mass
        value="0.016397348991066" />
      <inertia
        ixx="1.78422077208361E-06"
        ixy="-1.07639240674355E-08"
        ixz="-2.98194123602252E-10"
        iyy="4.66892775847849E-07"
        iyz="-1.38039043110699E-09"
        izz="1.74358331627172E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_4_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_4_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_4_3"
    type="revolute">
    <origin
      xyz="8.4366E-05 -0.021 0"
      rpy="0 0 0.0040167" />
    <parent
      link="link_4_2" />
    <child
      link="link_4_3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="3.14"
      effort="10.0"
      velocity="10.0" />
  </joint>
  <link
    name="link_5">
    <inertial>
      <origin
        xyz="0.00320912202502183 0.00859399982357259 3.78343190110542E-15"
        rpy="0 0 0" />
      <mass
        value="0.00679214436393442" />
      <inertia
        ixx="2.77578360985833E-07"
        ixy="-3.42850219784706E-08"
        ixz="8.10532932293202E-21"
        iyy="1.05853327062284E-07"
        iyz="3.0406745727143E-20"
        izz="2.26313771586247E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.529411764705882 0.549019607843137 0.549019607843137 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_5"
    type="fixed">
    <origin
      xyz="0.000669777784259532 -0.0103641666655722 0.140477539964738"
      rpy="-1.51843644923631 0 0" />
    <parent
      link="base_link" />
    <child
      link="link_5" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="link_5_1">
    <inertial>
      <origin
        xyz="0.000267574265911061 -0.00999492351016654 3.88298915148313E-08"
        rpy="0 0 0" />
      <mass
        value="0.011691691511772" />
      <inertia
        ixx="1.46660941912954E-06"
        ixy="1.62204761643886E-07"
        ixz="4.95017537085809E-12"
        iyy="5.59434287278549E-07"
        iyz="2.70800469056372E-13"
        izz="1.40998810747177E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_5_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_5_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_5_1"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="link_5" />
    <child
      link="link_5_1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="3.14"
      effort="10.0"
      velocity="10.0" />
  </joint>
  <link
    name="link_5_2">
    <inertial>
      <origin
        xyz="-0.00166968691942919 -0.00828863177196471 1.79272965630459E-08"
        rpy="0 0 0" />
      <mass
        value="0.00863981209206488" />
      <inertia
        ixx="8.10323387961017E-07"
        ixy="2.65982697963818E-08"
        ixz="2.23583513405112E-12"
        iyy="4.48952897945603E-07"
        iyz="3.06002966580964E-12"
        izz="7.00443511347378E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_5_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_5_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_5_2"
    type="revolute">
    <origin
      xyz="0.00047156 -0.027917 0"
      rpy="0 0 -0.00036835" />
    <parent
      link="link_5_1" />
    <child
      link="link_5_2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="3.14"
      effort="10.0"
      velocity="10.0" />
  </joint>
  <link
    name="link_5_3">
    <inertial>
      <origin
        xyz="-0.00261363331828344 -0.0135058167575116 -1.49385740715689E-05"
        rpy="0 0 0" />
      <mass
        value="0.013073985174476" />
      <inertia
        ixx="1.02140367513958E-06"
        ixy="2.13440941573318E-08"
        ixz="-1.89809751726961E-10"
        iyy="3.65773407781427E-07"
        iyz="1.02508221090347E-09"
        izz="9.87724892793395E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_5_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_5_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_5_3"
    type="revolute">
    <origin
      xyz="8.4362E-05 -0.021 0"
      rpy="0 0 0.0040167" />
    <parent
      link="link_5_2" />
    <child
      link="link_5_3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="3.14"
      effort="10.0"
      velocity="10.0" />
  </joint>
  <link
    name="link_6">
    <inertial>
      <origin
        xyz="0.0032091220217615 0.0085939998237848 2.66106581214842E-15"
        rpy="0 0 0" />
      <mass
        value="0.00679214436392754" />
      <inertia
        ixx="2.77578360985788E-07"
        ixy="-3.42850219784735E-08"
        ixz="1.37686520824989E-20"
        iyy="1.0585332706225E-07"
        iyz="2.45589923866994E-21"
        izz="2.26313771586216E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.529411764705882 0.549019607843137 0.549019607843137 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_6"
    type="fixed">
    <origin
      xyz="0.000669777787519771 -0.0310766858427096 0.134756850167708"
      rpy="-1.46607657167562 0 0" />
    <parent
      link="base_link" />
    <child
      link="link_6" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="link_6_1">
    <inertial>
      <origin
        xyz="0.000267576306587562 -0.00999492359773119 3.74977670823673E-08"
        rpy="0 0 0" />
      <mass
        value="0.0116916899225986" />
      <inertia
        ixx="1.46660938058732E-06"
        ixy="1.62204693802007E-07"
        ixz="5.02541037428953E-12"
        iyy="5.59434127114669E-07"
        iyz="3.27476765476148E-13"
        izz="1.40998794173314E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_6_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_6_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_6_1"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="link_6" />
    <child
      link="link_6_1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="3.14"
      effort="10.0"
      velocity="10.0" />
  </joint>
  <link
    name="link_6_2">
    <inertial>
      <origin
        xyz="-0.00166969904659971 -0.00828863174270481 1.82260493503117E-08"
        rpy="0 0 0" />
      <mass
        value="0.0086398108766207" />
      <inertia
        ixx="8.10323371845706E-07"
        ixy="2.6598259634349E-08"
        ixz="2.21506857405538E-12"
        iyy="4.48952852558785E-07"
        iyz="3.06296504372152E-12"
        izz="7.00443464251619E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_6_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_6_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_6_2"
    type="revolute">
    <origin
      xyz="0.00047157 -0.027917 0"
      rpy="0 0 -0.00036835" />
    <parent
      link="link_6_1" />
    <child
      link="link_6_2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="3.14"
      effort="10.0"
      velocity="10.0" />
  </joint>
  <link
    name="link_6_3">
    <inertial>
      <origin
        xyz="-0.00300390711949222 -0.0127902326536473 1.14967916103534E-06"
        rpy="0 0 0" />
      <mass
        value="0.0124136177285116" />
      <inertia
        ixx="8.80577173126973E-07"
        ixy="-1.59333319863461E-08"
        ixz="1.66570395172753E-10"
        iyy="3.35611373822498E-07"
        iyz="1.60297748863558E-09"
        izz="8.38740947906219E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_6_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/link_6_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_6_3"
    type="revolute">
    <origin
      xyz="8.4356E-05 -0.021 0"
      rpy="0 0 0.0040167" />
    <parent
      link="link_6_2" />
    <child
      link="link_6_3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="3.14"
      effort="10.0"
      velocity="10.0" />
  </joint>
</robot>